@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(./city.jpg) no-repeat center center / cover;
  color: white;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 3rem 0 3rem;
}

h1,
h2 {
  font-weight: normal;
  margin: 0.4rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: whitesmoke;
}

h2 {
   
    font-size: 3rem;
    color: #fff6ec;
  }

/* the type writer section  */
.txt-type {
  margin-left: 10px;
  font-weight: normal;
  color: #570FC2;
}

.txt-type::after {
  content: "";
  margin-left: 4px;
  width: 1px;
  height: 5%;
  border-right: 4px solid #3B3B3B;
  animation: blink 0.5s infinite ease;
}

.below-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.image-align {
    display: flex;
    align-self: center;
}

.below-container img{
    width: 150px;
        border: 2px solid #570FC2;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      
}

.below-container img:hover {
    box-shadow: 0 0 2px 1px rgba(87, 15, 194, 0.5);
  }

.below-container h3{
    text-align: center;
    color: whitesmoke;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

